body {
    background-color: #f3e7b3;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .painel-container {
    display: flex;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
  }

  .curso-container {
    display: flex;
    flex-direction: row;
  }
  
  .video-section {
    flex: 2;
    margin-right: 10px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .video-player {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .video-description h2{
    color: #194756;
  }
  
  .content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .lessons-list {
    flex: 3;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .lessons-list h2 {
    margin-top: 0;
  }
  
  .lessons-list button,
  .add-question {
    width: 240px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #194756;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .lessons-list button:hover {
    background-color: #145a73;
  }

  .btn-back {
    width: 220px;
    height: 30px;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #194756;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-back:hover {
    background-color: #14536b;
  }
  
  .finish {
    font-size: 40px;
    margin-top: 140px;
    font-weight: bold;
    color: #145a73;
  }
  