.login-container {
    display: flex;
    background-color: #f0f0f0;
    width: 100vw;
    height: 100vh;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  
 .user-image {
     width: 400px;
     height: auto;
     border-radius: 50%;
 }

 .right-panel {
     flex: 1;
     padding: 20px;
     border-radius: 8px;
 }

 .right-panel h2 {
     margin-bottom: 20px;
     text-align: center;
 }

 form {
     padding: 10px;
     max-width: 400px;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .form-group {
     margin-bottom: 20px;
     width: 100%;
 }

 label {
     display: block;
     margin-bottom: 8px;
     font-weight: bold;
 }

 input,
 select {
     width: 100%;
     padding: 10px;
     margin-top: 5px;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-sizing: border-box;
     font-size: 16px;
     outline: none;
     color: #194756;
 }

 button {
     width: 100%;
     padding: 15px;
     font-size: 16px;
     color: white;
     background-color: #194756;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 button:hover {
     background-color: #54736e;
 }

 .links {
     text-align: center;
     margin-top: 10px;
 }

 .links a {
     text-decoration: none;
     color: #194756;
     transition: color 0.3s ease;
 }

 .links a:hover {
     color: #14536b;
 }