.zoom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  padding: 0 20px;
  text-align: center;
  background-color: #f2eabc;
}

.tam-buttons-container {
  display: flex;
  gap: 50px;
  padding: 5px 20px;
}

.tam-button {
  font-size: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.back-button {
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 20px;
}

.ok-button {
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px; /* Adiciona cantos arredondados ao botão "Está bom!" */
}

@media (max-width: 600px) {
  .tam-buttons-container {
    flex-direction: row;
    gap: 20px;
  }

  .tam-button {
    width: 50px;
    height: 50px;
  }
}
